{
    "reporter": ["html", "text-summary"],
    "report-dir": "reports",
    "temp-directory": "coverage",
    "exclude": [
        "tests/**/*.js"
    ],
    "branches": 90,
    "functions": 95,
    "lines": 95,
    "statements": 95,
    "check-coverage": true
}
